---
import Layout from '../layouts/Default.astro';
import { Image } from 'astro:assets';
import Footer from '../components/Footer.astro';

import PopoverIcon from '../components/PopoverIcon.astro';

import icChevronDown from '../assets/icons/ic-chevron-down.svg';

import icSolid from '../assets/icons/tech/ic-solid.svg';
import icReact from '../assets/icons/tech/ic-react.svg';
import icVue from '../assets/icons/tech/ic-vue.svg';
import icThree from '../assets/icons/tech/ic-three-js.svg';
import icVite from '../assets/icons/tech/ic-vite.svg';
import icNetlify from '../assets/icons/tech/ic-netlify.svg';
import icPixi from '../assets/icons/tech/ic-pixi.svg';
import icWebgl from '../assets/icons/tech/ic-webgl.svg';
import icWebxr from '../assets/icons/tech/ic-webxr.png';
import icAws from '../assets/icons/tech/ic-amazon.svg';
import icCdk from '../assets/icons/tech/ic-cdk.png';
import icAzure from '../assets/icons/tech/ic-azure-cloud.svg';
import icServerless from '../assets/icons/tech/ic-serverless.svg';
import icEs6 from '../assets/icons/tech/ic-es6.png';
import icCSharp from '../assets/icons/tech/ic-csharp.svg';
import icLess from '../assets/icons/tech/ic-less.svg';
import icUmbraco from '../assets/icons/tech/ic-umbraco.svg';
import icTailwind from '../assets/icons/tech/ic-tailwind.svg';
import icCloudflare from '../assets/icons/tech/ic-cloudflare.svg';
import icRust from '../assets/icons/tech/ic-rust.svg';
import icBevy from '../assets/icons/tech/ic-bevy.png';
import icWasm from '../assets/icons/tech/ic-wasm.svg';
import icLua from '../assets/icons/tech/ic-lua.svg'
import icGithub from '../assets/icons/tech/ic-github.svg'
import icNeovim from '../assets/icons/tech/ic-neovim.svg'

---

<Layout
	title="Connor Meehan CV"
	description="CV of Connor Meehan | Senior Creative Technologist"
    bodyClass="text-[16px] md:text-xl"
>
    <h1 class="text-2xl md:text-5xl text-gray-800"> Connor Meehan </h1>
    <h2 class="text-xl md:text-3xl mb-16 text-gray-600"> Senior Creative Technologist @ EyeJack </h2>

	<div class="relative mt-16 md:mt-24 mb-20 md:mb-28">
        <div class="absolute w-[calc(100%+32px)] md:w-[calc(100%+96px)] h-[calc(100%+32px)] md:h-[calc(100%+96px)] -left-4 md:-left-12 -top-4 md:-top-12 bg-white rounded-md z-0 shadow-gray-200 shadow-2xl"/>
        <p class="z-10 mb-0 relative">
            Hello! I'm a Senior Creative Technologist Working at EyeJack on our internal SaaS product and client work.
            I am a chronic tinkerer with a curious mind and strive to write practical,
            expressive, modular code to implement  silky smooth user experiences.  
        </p>
	</div>

    <h3 class="text-2xl md:text-4xl mb-8"> What am I like? </h3>
    <p>
        I started developing when I was 12 and now I go to bed watching conference talks on development techniques,
        software architectures, patterns and new technologies. I really love learning theory (software, experience
        design and more).  As a result I've been exposed to a lot of libraries and tools, and while I do not claim to
        be a master in any, I always try to understand the characteristics of each, how does this work under the hood, where 
        does this excel, and when is this applicable to my code?
    </p>
    <p>
        When it comes time to apply this theory in my code I trend towards minimalism and simplicity.
        Writing explicit, linear code that expresses both developer-intent and data flow.  This is a little 
        contradictory but I also love the process of code optimisation, digging into runtime internals, re-using memory
        to reduce allocations, etc.  And while this can often come at the cost of code expressiveness I think I've found
        a happy medium over my years.
    </p>
    <p>
        At this point I have come to the understanding that software and libraries are just tools and all are flawed
        in some way.  Unless they use are a paradigm shift, most are extremly similar, solving the same problems with different syntax.
        I am honing the brash young developer that once was and replacing him with a measured developer.  A developer that
        places these tools within the context of the team, the product and the users.
    </p>

    <h3 class="text-2xl md:text-4xl mt-16 mb-8" style="page-break-before: always;"> Work History </h3>

    <div class="group-[collapsible]">
        <h4 class="underline"><a href="https://bobbinbear.com" target="_blank">Bobbin Bear</a></h4>
        <h5 class="text-lg md:text-2xl text-gray-600">Personal Project | Feb 2023 - Present</h5>
        <div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
            <div class="flex flex-nowrap gap-4 items-center w-fit">
                <PopoverIcon image={icSolid} width={64} alt="Solid JS" />
                <PopoverIcon image={icVite} width={64} alt="Vite" />
                <PopoverIcon image={icTailwind} width={64} alt="Tailwind CSS" />
                <PopoverIcon image={icPixi} width={64} alt="Pixi JS" />
                <PopoverIcon image={icRust} width={64} alt="Rust" />
                <PopoverIcon image={icWasm} width={64} alt="WASM" />
                <PopoverIcon image={icBevy} width={64} alt="Bevy" />
                <PopoverIcon image={icCloudflare} width={64} alt="Cloudflare" />
            </div>
        </div>
        <input type="checkbox" id="bb-collapse" class="peer hidden">
        <div class="max-h-[0px] overflow-hidden transition-all peer-checked:max-h-[100vh] -ml-6 -mr-6 px-6">
            <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
                <li>Bobbin Bear is a side project to build an online embroidery file editor for use in <a class="underline" href="https://en.wikipedia.org/wiki/Machine_embroidery#Computerized_machine_embroidery" target="_blank">machine embroidery</a></li>
                <li>Started out building on webtech, made a custom react-three-fiber style renderer for Pixi and SolidJS</li>
                <li>Realised the project requirements demanded better performance + better support for hard problems like text/font shaping.  Switched to rust for these reasons.</li>
                <li>Very early stages and broken right now, but learning rust has improved my code dramatically.</li>
            </ul>
        </div>
        <label for="bb-collapse" class="peer-checked:[&>*]:rotate-180">
            <Image src={icChevronDown} alt="Expand BobbinBear dot points" width={32} height={32} class="relative left-1/2 -translate-x-1/2 p-2 transition-transform cursor-pointer hover:bg-gray-300 rounded-full" />
        </label>
    </div>

    <div class="my-12" />

    <h4 class="underline"><a href="https://eyejack.io" target="_blank">EyeJack App</a></h4>
    <h5 class="text-lg md:text-2xl text-gray-600">Senior Creative Technologist | Sep 2022 - Present</h5>
	<div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
        <div class="flex flex-nowrap gap-4 items-center w-fit">
            <PopoverIcon image={icReact} width={64} alt="React" />
            <PopoverIcon image={icVite} width={64} alt="Vite" />
            <PopoverIcon image={icTailwind} width={64} alt="Tailwind CSS" />
            <PopoverIcon image={icAws} width={64} alt="AWS" />
            <PopoverIcon image={icCdk} width={64} alt="CDK (AWS)" />
            <PopoverIcon image={icWebgl} width={64} alt="WebGL" />
            <PopoverIcon image={icThree} width={64} alt="THREE.js" />
            <PopoverIcon image={icWebxr} width={64} alt="WebXR" />
        </div>
    </div>
    <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
        <li>Architecting projects for internal products and client work.</li>
        <li>Pre-empting issues or gotchas with project requirements and planning workarounds early.</li>
        <li>Communicating with project managers, designers and clients in their own language.</li>
        <li>Developing highly interactive and stateful webapp as part of a SaaS product.</li>
        <li>Jumping into unfamiliar codebases to identify and fix issues quickly. </li>
        <li>Valuing and investing in the team via feedback, training and guidance of juniors.</li>
        <li>Setting up and maintaining CI/CD pipelines.</li>
    </ul>

    <div class="my-12" />

    <div class="group-[collapsible]">
        <h4 class="underline"><a href="https://github.com/doom-neovim/doom-nvim" target="_blank">Doom Nvim</a></h4>
        <h5 class="text-lg md:text-2xl text-gray-600">Github Maintainer | Feb 2022</h5>
        <div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
            <div class="flex flex-nowrap gap-4 items-center w-fit">
                <PopoverIcon image={icLua} width={64} alt="Lua" />
                <PopoverIcon image={icNeovim} width={64} alt="Neovim" />
                <PopoverIcon image={icGithub} width={64} alt="Github" extraClass="fill-black" />
            </div>
        </div>
        <input type="checkbox" id="doom-collapse" class="peer hidden">
        <div class="max-h-[0px] overflow-hidden transition-all peer-checked:max-h-[100vh] -ml-6 -mr-6 px-6">
            <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
                <li>Doom Nvim was a user facing framework for configuring the neovim editor.</li>
                <li>Architecting APIs for making configuration easy, clear and customisable.</li>
                <li>Resolving issues and maintaining release cycles</li>
                <li>Providing support over discord.</li>
                <li>Being the primary contributor and working an already demanding job I got burnt out quite quickly and had to abandon it myself.</li>
            </ul>
        </div>
        <label for="doom-collapse" class="peer-checked:[&>*]:rotate-180">
            <Image src={icChevronDown} alt="Expand Doom Neovim project dot points" width={32} height={32} class="relative left-1/2 -translate-x-1/2 p-2 transition-transform cursor-pointer hover:bg-gray-300 rounded-full" />
        </label>
    </div>

    <div class="my-12" />

    <h4 class="underline"><a href="https://codeoncanvas.cc" target="_blank">codeoncanvas</a></h4>
    <h5 class="text-lg md:text-2xl text-gray-600">Creative Developer | May 2020 - Sep 2022</h5>
	<div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
        <div class="flex flex-nowrap gap-4 items-center w-fit">
            <PopoverIcon image={icVue} width={64} alt="Vue.js" />
            <PopoverIcon image={icReact} width={64} alt="React" />
            <PopoverIcon image={icVite} width={64} alt="Vite" />
            <PopoverIcon image={icAws} width={64} alt="AWS" />
            <PopoverIcon image={icServerless} width={64} alt="Serverless (AWS)" />
            <PopoverIcon image={icNetlify} width={64} alt="Netlify" />
            <PopoverIcon image={icWebgl} width={64} alt="WebGL" />
            <PopoverIcon image={icThree} width={64} alt="THREE.js" />
        </div>
    </div>
    <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
        <li>Transforming designs and feature requirements to code without hand-holding from designers.</li>
        <li>Developing and being accountable for a deadline.</li>
        <li>Scaffolding a new project from scratch every month or two I got to experiment with a <span class="italic">LOT</span> of architectures, libaries and solutions.</li>
    </ul>

    <div class="my-12" style="page-break-after: always"/>

    <h4 class="underline"><a href="https://www.sevenwestmedia.com.au/" target="_blank">Seven West Media</a></h4>
    <h5 class="text-lg md:text-2xl text-gray-600">Junior Fullstack Engineer | Aug 2018 - May 2020</h5>
	<div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
        <div class="flex flex-nowrap gap-4 items-center w-fit">
            <PopoverIcon image={icEs6} width={64} alt="ES6 JS" />
            <PopoverIcon image={icLess} width={64} alt="LESS CSS" />
            <PopoverIcon image={icCSharp} width={64} alt="CSharp" />
            <PopoverIcon image={icUmbraco} width={64} alt="Umbraco CMS" />
            <PopoverIcon image={icAws} width={64} alt="AWS" />
            <PopoverIcon image={icAzure} width={64} alt="Azure Cloud" />
        </div>
    </div>
    <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
        <li>Asking good questions to learn fast (never forgotten)</li>
        <li>Working with a feature branch based workflow</li>
        <li>Agile development methodology for sustainable development</li>
        <li>My first exposure to 'real' JS (Vanilla ES6, React, Vue) and C# (ASP.NET)</li>
    </ul>

    <div class="my-12 border-b border-gray-400 border-solid" />

    <p>
        Thanks for reading and don't hesitate to contact me if you're interested in working together!
    </p>
    <p>
        <a href="mailto:hello@cgm.codes" class="underline">hello@cgm.codes</a>
    </p>

    <div class="my-12" />

    <Footer />
</Layout>
