---
import Layout from '../layouts/Default.astro';
import { Image } from 'astro:assets';
import Footer from '../components/Footer.astro';

import PopoverIcon from '../components/PopoverIcon.astro';

import icChevronDown from '../assets/icons/ic-chevron-down.svg';

import icSolid from '../assets/icons/tech/ic-solid.svg';
import icReact from '../assets/icons/tech/ic-react.svg';
import icVue from '../assets/icons/tech/ic-vue.svg';
import icThree from '../assets/icons/tech/ic-three-js.svg';
import icVite from '../assets/icons/tech/ic-vite.svg';
import icNetlify from '../assets/icons/tech/ic-netlify.svg';
import icPixi from '../assets/icons/tech/ic-pixi.svg';
import icWebgl from '../assets/icons/tech/ic-webgl.svg';
import icWebxr from '../assets/icons/tech/ic-webxr.png';
import icAws from '../assets/icons/tech/ic-amazon.svg';
import icCdk from '../assets/icons/tech/ic-cdk.svg';
import icAzure from '../assets/icons/tech/ic-azure-cloud.svg';
import icServerless from '../assets/icons/tech/ic-serverless.svg';
import icEs6 from '../assets/icons/tech/ic-es6.png';
import icCSharp from '../assets/icons/tech/ic-csharp.svg';
import icLess from '../assets/icons/tech/ic-less.svg';
import icUmbraco from '../assets/icons/tech/ic-umbraco.svg';
import icTailwind from '../assets/icons/tech/ic-tailwind.svg';
import icCloudflare from '../assets/icons/tech/ic-cloudflare.svg';
import icRust from '../assets/icons/tech/ic-rust.svg';
import icBevy from '../assets/icons/tech/ic-bevy.svg';
import icWasm from '../assets/icons/tech/ic-wasm.svg';
import icLua from '../assets/icons/tech/ic-lua.svg'
import icGithub from '../assets/icons/tech/ic-github.svg'
import icNeovim from '../assets/icons/tech/ic-neovim.svg'

---

<Layout
	title="Connor Meehan CV"
	description="CV of Connor Meehan | Senior Creative Technologist"
    bodyClass="text-[16px] md:text-xl"
>
    <h1 class="text-2xl md:text-5xl text-gray-800"> Connor Meehan </h1>
    <h2 class="text-xl md:text-3xl mb-16 text-gray-600"> Senior Creative Technologist @ EyeJack </h2>

	<div class="relative mt-16 md:mt-24 mb-20 md:mb-28">
        <div class="absolute w-[calc(100%+32px)] md:w-[calc(100%+96px)] h-[calc(100%+32px)] md:h-[calc(100%+96px)] -left-4 md:-left-12 -top-4 md:-top-12 bg-white rounded-md z-0 shadow-gray-200 shadow-2xl"/>
        <p class="z-10 mb-0 relative">
            Hello! I'm a Senior Creative Technologist Working at EyeJack on our internal SaaS product and client work.
            I am a chronic tinkerer with a curious mind and strive to write practical,
            expressive, modular code to implement  silky smooth user experiences.  
        </p>
	</div>

    <h3 class="text-2xl md:text-4xl mb-8"> What am I like? </h3>
    <p>
        Hey!, my name's Connor and I'm currently living in Melbourne Australia.  My current hobbies are cooking and gardening (and I want
        to get back into learning languages) but the real underlying hobby is a love of learning. I studied 
        <a href="https://rp-handbooks.sydney.edu.au/handbooks/archive/2021/architecture/undergraduate/b_design_computing.shtml.html" target="_blank" class="underline font-bold">Design Computing</a> at the 
        <a href="https://www.sydney.edu.au/" target="_blank" class="underline font-bold">Univesity of Sydney</a> (essentially an interaction design
        degree) giving me a drive for simplicity and intuitiveness in everything I create. I am also a self taught engineer, starting from
        making games as a 12 year old and upskilling through projects based learning, lots of watching conference talks on youtube, and the
        bulk of my learning from my 5 years experience in the industry.
    </p>
    <h3 class="text-2xl md:text-4xl mb-8"> What about at work? </h3>
    <p>
        Having studied Design Computing, being self taught engineer, and enjoying reading a variety of other topics I believe I have a very broad
        knowledge base to both communicate with a range of departments and also interpet their requirements to catch issues before they occur.  I'm a
        big believer in the strong opinions, weakly held decision making framework and am ready to be proven wrong as these are instances to learn and grow.
    </p>
    <p>
        Regarding code, I first want to acknowledge that there's no such thing as objectivity in code quality.  That decision has to be placed within the
        context of the traditions and experience of the organisation.  However, when I do write I code I tend to aim for linearity and explicitness with
        sane defaults for legigibility.  My favorite way of doing so is to split a new requirement into modular and flexible primitives, unrelated to 
        the requirement, and then compose the desired behaviour from these primitives, keeping the requirement logic flexible and terse and the underlying
        primitives easy to test and recompose.  In my opinion code sh
    </p>
    <h3 class="text-2xl md:text-4xl mb-8"> Where would I like to work? </h3>
    <p>
        For the past 3 years I have largely been working on the Frontend and doing Graphics Programming with GLSL and THREE.js.  I am a very visual person
    </p>


    <h3 class="text-2xl md:text-4xl mt-16 mb-8" style="page-break-before: always;"> Work History </h3>

    <div class="group-[collapsible]">
        <h4 class="underline text-1xl md:text-3xl"><a href="https://bobbinbear.com" target="_blank">Bobbin Bear</a></h4>
        <h5 class="text-lg md:text-2xl text-gray-600">Personal Project | Feb 2023 - Present</h5>
        <div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
            <div class="flex flex-nowrap gap-4 items-center w-fit">
                <PopoverIcon image={icSolid} alt="Solid JS" />
                <PopoverIcon image={icVite} alt="Vite" />
                <PopoverIcon image={icTailwind} alt="Tailwind CSS" />
                <PopoverIcon image={icPixi} alt="Pixi JS" />
                <PopoverIcon image={icRust} alt="Rust" />
                <PopoverIcon image={icWasm} alt="WASM" />
                <PopoverIcon image={icBevy} alt="Bevy" />
                <PopoverIcon image={icGithub} alt="Github" extraClass="fill-black" />
                <PopoverIcon image={icCloudflare} alt="Cloudflare" />
            </div>
        </div>
        <input type="checkbox" id="bb-collapse" class="peer hidden">
        <div class="overflow-hidden transition-all max-h-[0px] peer-checked:max-h-[100vh] opacity-0 peer-checked:opacity-100 -ml-6 -mr-6 px-6">
            <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
                <li>Bobbin Bear is a side project to build an online embroidery file editor for use in <a class="underline" href="https://en.wikipedia.org/wiki/Machine_embroidery#Computerized_machine_embroidery" target="_blank">machine embroidery</a></li>
                <li>Started out building on webtech, made a custom react-three-fiber style renderer for Pixi and SolidJS</li>
                <li>Realised the project requirements demanded better performance + better support for hard problems like text/font shaping.  Switched to rust for these reasons.</li>
                <li>Very early stages and broken right now, but learning rust has improved my code dramatically.</li>
            </ul>
        </div>
        <label for="bb-collapse" class="peer-checked:[&>*]:rotate-180">
            <Image src={icChevronDown} alt="Expand BobbinBear dot points" width={32} height={32} class="relative left-1/2 -translate-x-1/2 p-2 transition-transform cursor-pointer hover:bg-gray-300 rounded-full" />
        </label>
    </div>

    <div class="my-12" />

    <h4 class="underline text-1xl md:text-3xl"><a href="https://eyejack.io" target="_blank">EyeJack App</a></h4>
    <h5 class="text-lg md:text-2xl text-gray-600">Senior Creative Technologist | Sep 2022 - Present</h5>
	<div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
        <div class="flex flex-nowrap gap-4 items-center w-fit">
            <PopoverIcon image={icReact} alt="React" />
            <PopoverIcon image={icVite} alt="Vite" />
            <PopoverIcon image={icTailwind} alt="Tailwind CSS" />
            <PopoverIcon image={icAws} alt="AWS" />
            <PopoverIcon image={icCdk} alt="CDK (AWS)" />
            <PopoverIcon image={icWebgl} alt="WebGL" />
            <PopoverIcon image={icThree} alt="THREE.js" />
            <PopoverIcon image={icWebxr} alt="WebXR" />
            <PopoverIcon image={icGithub} alt="Github" extraClass="fill-black" />
        </div>
    </div>
    <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
        <li>Architecting projects for internal products and client work.</li>
        <li>Pre-empting issues or gotchas with project requirements and planning workarounds early.</li>
        <li>Communicating with project managers, designers and clients in their own language.</li>
        <li>Developing highly interactive and stateful webapp as part of a SaaS product.</li>
        <li>Jumping into unfamiliar codebases to identify and fix issues quickly. </li>
        <li>Valuing and investing in the team via feedback, training and guidance of juniors.</li>
        <li>Setting up and maintaining CI/CD pipelines.</li>
    </ul>

    <div class="my-12" />

    <div class="group-[collapsible]">
        <h4 class="underline text-1xl md:text-3xl"><a href="https://github.com/doom-neovim/doom-nvim" target="_blank">Doom Nvim</a></h4>
        <h5 class="text-lg md:text-2xl text-gray-600">Github Maintainer | Feb 2022</h5>
        <div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
            <div class="flex flex-nowrap gap-4 items-center w-fit">
                <PopoverIcon image={icLua} alt="Lua" />
                <PopoverIcon image={icNeovim} alt="Neovim" />
                <PopoverIcon image={icGithub} alt="Github" extraClass="fill-black" />
            </div>
        </div>
        <input type="checkbox" id="doom-collapse" class="peer hidden">
        <div class="max-h-[0px] overflow-hidden transition-all peer-checked:max-h-[100vh] -ml-6 -mr-6 px-6">
            <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
                <li>Doom Nvim was a user facing framework for configuring the neovim editor.</li>
                <li>Architecting APIs for making configuration easy, clear and customisable.</li>
                <li>Resolving issues and maintaining release cycles</li>
                <li>Providing support over discord.</li>
                <li>Being the primary contributor and working an already demanding job I got burnt out quite quickly and had to abandon it myself.</li>
            </ul>
        </div>
        <label for="doom-collapse" class="peer-checked:[&>*]:rotate-180">
            <Image src={icChevronDown} alt="Expand Doom Neovim project dot points" width={32} height={32} class="relative left-1/2 -translate-x-1/2 p-2 transition-transform cursor-pointer hover:bg-gray-300 rounded-full" />
        </label>
    </div>

    <div class="my-12" />

    <h4 class="underline"><a href="https://codeoncanvas.cc" target="_blank">codeoncanvas</a></h4>
    <h5 class="text-lg md:text-2xl text-gray-600">Creative Developer | May 2020 - Sep 2022</h5>
	<div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
        <div class="flex flex-nowrap gap-4 items-center w-fit">
            <PopoverIcon image={icVue} alt="Vue.js" />
            <PopoverIcon image={icReact} alt="React" />
            <PopoverIcon image={icVite} alt="Vite" />
            <PopoverIcon image={icAws} alt="AWS" />
            <PopoverIcon image={icServerless} alt="Serverless (AWS)" />
            <PopoverIcon image={icNetlify} alt="Netlify" />
            <PopoverIcon image={icWebgl} alt="WebGL" />
            <PopoverIcon image={icThree} alt="THREE.js" />
            <PopoverIcon image={icGithub} alt="Github" extraClass="fill-black" />
        </div>
    </div>
    <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
        <li>Transforming designs and feature requirements to code without hand-holding from designers.</li>
        <li>Developing and being accountable for a deadline.</li>
        <li>Scaffolding a new project from scratch every month or two I got to experiment with a <span class="italic">LOT</span> of architectures, libaries and solutions.</li>
    </ul>

    <div class="my-12" style="page-break-after: always"/>

    <h4 class="underline"><a href="https://www.sevenwestmedia.com.au/" target="_blank">Seven West Media</a></h4>
    <h5 class="text-lg md:text-2xl text-gray-600">Junior Fullstack Engineer | Aug 2018 - May 2020</h5>
	<div class="bg-gray-200 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 overflow-x-scroll overflow-y-hidden">
        <div class="flex flex-nowrap gap-4 items-center w-fit">
            <PopoverIcon image={icEs6} alt="ES6 JS" />
            <PopoverIcon image={icLess} alt="LESS CSS" />
            <PopoverIcon image={icCSharp} alt="CSharp" />
            <PopoverIcon image={icUmbraco} alt="Umbraco CMS" />
            <PopoverIcon image={icAws} alt="AWS" />
            <PopoverIcon image={icAzure} alt="Azure Cloud" />
        </div>
    </div>
    <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
        <li>Asking good questions to learn fast (never forgotten)</li>
        <li>Working with a feature branch based workflow</li>
        <li>Agile development methodology for sustainable development</li>
        <li>My first exposure to 'real' JS (Vanilla ES6, React, Vue) and C# (ASP.NET)</li>
    </ul>

    <div class="my-12 border-b border-gray-400 border-solid" />

    <p>
        Thanks for reading and don't hesitate to contact me if you're interested in working together!
    </p>
    <p>
        <a href="mailto:hey@cgm.codes" class="underline">hey@cgm.codes</a>
    </p>

    <div class="my-12" />

    <Footer />
</Layout>
