---
import Layout from '../layouts/Default.astro';
import { Image } from 'astro:assets';
import Footer from '../components/Footer.astro';

import PopoverIcon from '../components/PopoverIcon.astro';

import icChevronDown from '../assets/icons/ic-chevron-down.svg';

import icAward from '../assets/icons/tech/ic-award.svg'

import icSolid from '../assets/icons/tech/ic-solid.svg';
import icReact from '../assets/icons/tech/ic-react.svg';
import icVue from '../assets/icons/tech/ic-vue.svg';
import icThree from '../assets/icons/tech/ic-three-js.svg';
import icVite from '../assets/icons/tech/ic-vite.svg';
import icNetlify from '../assets/icons/tech/ic-netlify.svg';
import icPixi from '../assets/icons/tech/ic-pixi.svg';
import icWebgl from '../assets/icons/tech/ic-webgl.svg';
import icWebxr from '../assets/icons/tech/ic-webxr.png';
import icAws from '../assets/icons/tech/ic-amazon.svg';
import icCdk from '../assets/icons/tech/ic-cdk.svg';
import icAzure from '../assets/icons/tech/ic-azure-cloud.svg';
import icServerless from '../assets/icons/tech/ic-serverless.svg';
import icEs6 from '../assets/icons/tech/ic-es6.png';
import icCSharp from '../assets/icons/tech/ic-csharp.svg';
import icLess from '../assets/icons/tech/ic-less.svg';
import icUmbraco from '../assets/icons/tech/ic-umbraco.svg';
import icTailwind from '../assets/icons/tech/ic-tailwind.svg';
import icCloudflare from '../assets/icons/tech/ic-cloudflare.svg';
import icRust from '../assets/icons/tech/ic-rust.svg';
import icBevy from '../assets/icons/tech/ic-bevy.svg';
import icWasm from '../assets/icons/tech/ic-wasm.svg';
import icLua from '../assets/icons/tech/ic-lua.svg'
import icGithub from '../assets/icons/tech/ic-github.svg'
import icNeovim from '../assets/icons/tech/ic-neovim.svg'

---

<Layout
	title="Connor Meehan CV"
	description="CV of Connor Meehan | Senior Creative Technologist"
    bodyClass="text-[16px] md:text-xl"
>
    <h1 class="text-2xl md:text-5xl"> Connor Meehan </h1>
    <h2 class="text-xl md:text-3xl mb-16 opacity-80"> Senior Creative Technologist @ EyeJack </h2>

	<p class="font-semibold mb-16">
        Hello! I'm a Senior Creative Technologist Working at EyeJack on our internal SaaS product and client work.
        I am a chronic tinkerer with a curious mind and strive to write practical,
        expressive, modular code to implement silky smooth user experiences.  
	</p>

    <h3 class="text-2xl md:text-4xl mb-8"> What am I like? </h3>
    <p> Hey!, my name's Connor and I'm currently living in Melbourne Australia.  I like to cook, garden, build things and learn languages. </p>
    <p> I studied <a href="https://rp-handbooks.sydney.edu.au/handbooks/archive/2021/architecture/undergraduate/b_design_computing.shtml.html" target="_blank" class="underline font-bold">Design Computing</a> at the 
        <a href="https://www.sydney.edu.au/" target="_blank" class="underline font-bold">University of Sydney</a> (essentially an interaction design
        degree).  I am also a self taught engineer, starting as a 12 year old who wanted to make a game and ending up addicted to the problem solving of engineering.
    </p>
    <h3 class="text-2xl md:text-4xl mt-16 mb-8"> What about at work? </h3>
    <p>
        I believe I have a broad range range of experience and perspectives that makes me especially good at collaborating with others.
        Because a lot of my learning is example/project driven, I think I'm pretty good at jumping into a code base and understanding
        the architecture, and adhering to patterns and code style quickly.  When tasked with larger or more complex pieces of work
        I try to uncover any unknowns, validate the concept, and form a plan before jumping into the real work.  My favorite code to write
        is fairly linear and procedural, minimizes state, is divided into modules by levels of granularity, and prefers composition over inheritance
        (although I think it's almost always best to code in the same style as the author).
    </p>

    <h3 class="text-2xl md:text-4xl mt-16 mb-8" style="page-break-before: always;"> History </h3>

    <h4 class="underline text-1xl md:text-3xl"><a href="https://eyejack.io" target="_blank">EyeJack App</a></h4>
    <h5 class="text-lg md:text-2xl opacity-80">Senior Creative Technologist | Sep 2022 - Present</h5>
    <div class="flex items-start gap-2 my-2">
        <div class="flex items-center gap-2">
            <svg fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="overflow: visible; color: currentcolor;" height="1em" width="1em"><path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path><path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path></svg>
            <span class="opacity-75">Highlight:</span>
        </div>
        One of two engineers to build and ship a SaaS product from zero 
    </div>
	<div class="bg-gray-200 dark:bg-gray-800 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 dark:shadow-gray-900 overflow-x-scroll overflow-y-hidden">
        <div class="flex flex-nowrap gap-4 items-center w-fit">
            <PopoverIcon image={icReact} alt="React" />
            <PopoverIcon image={icVite} alt="Vite" />
            <PopoverIcon image={icTailwind} alt="Tailwind CSS" />
            <PopoverIcon image={icAws} alt="AWS" />
            <PopoverIcon image={icCdk} alt="CDK (AWS)" />
            <PopoverIcon image={icWebgl} alt="WebGL" />
            <PopoverIcon image={icThree} alt="THREE.js" />
            <PopoverIcon image={icWebxr} alt="WebXR" />
            <PopoverIcon image={icGithub} alt="Github" extraClass="fill-gray-200 dark:fill-gray-800" />
        </div>
    </div>
    <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
        <li>Architecting projects for internal products and client work.</li>
        <li>Pre-empting issues or gotchas with project requirements and planning workarounds early.</li>
        <li>Communicating with project managers, designers and clients in their own language.</li>
        <li>Developing highly interactive and stateful webapp as part of a SaaS product.</li>
        <li>Jumping into unfamiliar codebases to identify and fix issues quickly. </li>
        <li>Valuing and investing in the team via feedback, training and guidance of juniors.</li>
        <li>Setting up and maintaining CI/CD pipelines.</li>
    </ul>

    <div class="my-12" />

    <div class="group-[collapsible]">
        <h4 class="underline text-1xl md:text-3xl"><a href="https://bobbinbear.com" target="_blank">Bobbin Bear</a></h4>
        <h5 class="text-lg md:text-2xl opacity-80">Personal Project | Feb 2023 - Present</h5>
        <div class="flex items-start gap-2 my-2">
            <div class="flex items-center gap-2">
                <svg fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="overflow: visible; color: currentcolor;" height="1em" width="1em"><path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path><path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path></svg>
                <span class="opacity-75">Highlight:</span>
            </div>
            Writing saner code in other languages after learning rust.
        </div>
        <div class="bg-gray-200 dark:bg-gray-800 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 dark:shadow-gray-900 overflow-x-scroll overflow-y-hidden">
            <div class="flex flex-nowrap gap-4 items-center w-fit">
                <PopoverIcon image={icSolid} alt="Solid JS" />
                <PopoverIcon image={icVite} alt="Vite" />
                <PopoverIcon image={icTailwind} alt="Tailwind CSS" />
                <PopoverIcon image={icPixi} alt="Pixi JS" />
                <PopoverIcon image={icRust} alt="Rust" />
                <PopoverIcon image={icWasm} alt="WASM" />
                <PopoverIcon image={icBevy} alt="Bevy" />
                <PopoverIcon image={icGithub} alt="Github" extraClass="fill-black" />
                <PopoverIcon image={icCloudflare} alt="Cloudflare" />
            </div>
        </div>
        <input type="checkbox" id="bb-collapse" class="peer hidden">
        <div class="overflow-hidden transition-all max-h-[0px] peer-checked:max-h-[100vh] opacity-0 peer-checked:opacity-100 -ml-6 -mr-6 px-6">
            <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
                <li>Bobbin Bear is a side project to build an online embroidery file editor for use in <a class="underline" href="https://en.wikipedia.org/wiki/Machine_embroidery#Computerized_machine_embroidery" target="_blank">machine embroidery</a></li>
                <li>Started out building on webtech, made a custom react-three-fiber style renderer for Pixi and SolidJS</li>
                <li>Realised the project requirements demanded better performance + better support for hard problems like text/font shaping.  Switched to rust for these reasons.</li>
                <li>Very early stages and broken right now, but learning rust has improved my code dramatically.</li>
            </ul>
        </div>
        <label for="bb-collapse" class="peer-checked:[&>*]:rotate-180">
            <Image src={icChevronDown} alt="Expand BobbinBear dot points" width={32} height={32} class="relative left-1/2 -translate-x-1/2 p-2 transition-transform cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-200 rounded-full dark:filter dark:invert" />
        </label>
    </div>

    <div class="my-12" />

    <div class="group-[collapsible]">
        <h4 class="underline text-1xl md:text-3xl"><a href="https://github.com/doom-neovim/doom-nvim" target="_blank">Doom Nvim</a></h4>
        <h5 class="text-lg md:text-2xl opacity-80">Github Maintainer | Feb 2022</h5>
        <div class="flex items-start gap-2 my-2">
            <div class="flex items-center gap-2">
                <svg fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="overflow: visible; color: currentcolor;" height="1em" width="1em"><path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path><path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path></svg>
                <span class="opacity-75">Highlight:</span>
            </div>
            New-found appreciation for OSS maintainers
        </div>
        <div class="bg-gray-200 dark:bg-gray-800 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 dark:shadow-gray-900 overflow-x-scroll overflow-y-hidden">
            <div class="flex flex-nowrap gap-4 items-center w-fit">
                <PopoverIcon image={icLua} alt="Lua" />
                <PopoverIcon image={icNeovim} alt="Neovim" />
                <PopoverIcon image={icGithub} alt="Github" extraClass="fill-black" />
            </div>
        </div>
        <input type="checkbox" id="doom-collapse" class="peer hidden">
        <div class="max-h-[0px] overflow-hidden transition-all peer-checked:max-h-[100vh] -ml-6 -mr-6 px-6">
            <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
                <li>Doom Nvim was a user facing framework for configuring the neovim editor.</li>
                <li>Architecting APIs for making configuration easy, clear and customisable.</li>
                <li>Resolving issues and maintaining release cycles</li>
                <li>Providing support over discord.</li>
                <li>Being the primary contributor and working an already demanding job I got burnt out quite quickly and had to abandon it myself.</li>
            </ul>
        </div>
        <label for="doom-collapse" class="peer-checked:[&>*]:rotate-180">
            <Image src={icChevronDown} alt="Expand Doom Neovim project dot points" width={32} height={32} class="relative left-1/2 -translate-x-1/2 p-2 transition-transform cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-200 rounded-full dark:filter dark:invert" />
        </label>
    </div>

    <div class="my-12" />

    <h4 class="underline text-1xl md:text-3xl"><a href="https://codeoncanvas.cc" target="_blank">codeoncanvas</a></h4>
    <h5 class="text-lg md:text-2xl opacity-80">Creative Developer | May 2020 - Sep 2022</h5>
    <div class="flex items-start gap-2 my-2">
        <div class="flex items-center gap-2">
            <svg fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="overflow: visible; color: currentcolor;" height="1em" width="1em"><path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path><path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path></svg>
            <span class="opacity-75">Highlight:</span>
        </div>
        Successfully deliverring ~1 client project per month
    </div>
	<div class="bg-gray-200 dark:bg-gray-800 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 dark:shadow-gray-900 overflow-x-scroll overflow-y-hidden">
        <div class="flex flex-nowrap gap-4 items-center w-fit">
            <PopoverIcon image={icVue} alt="Vue.js" />
            <PopoverIcon image={icReact} alt="React" />
            <PopoverIcon image={icVite} alt="Vite" />
            <PopoverIcon image={icAws} alt="AWS" />
            <PopoverIcon image={icServerless} alt="Serverless (AWS)" />
            <PopoverIcon image={icNetlify} alt="Netlify" />
            <PopoverIcon image={icWebgl} alt="WebGL" />
            <PopoverIcon image={icThree} alt="THREE.js" />
            <PopoverIcon image={icGithub} alt="Github" extraClass="fill-black" />
        </div>
    </div>
    <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
        <li>Transforming designs and feature requirements to code without hand-holding from designers.</li>
        <li>Developing and being accountable for a deadline.</li>
        <li>Scaffolding a new project from scratch every month or two I got to experiment with a <span class="italic">LOT</span> of architectures, libaries and solutions.</li>
    </ul>

    <div class="my-12" style="page-break-after: always"/>

    <h4 class="underline text-1xl md:text-3xl"><a href="https://www.sevenwestmedia.com.au/" target="_blank">Seven West Media</a></h4>
    <h5 class="text-lg md:text-2xl opacity-80">Junior Fullstack Engineer | Aug 2018 - May 2020</h5>
    <div class="flex items-start gap-2 my-2">
        <div class="flex items-center gap-2">
            <svg fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="overflow: visible; color: currentcolor;" height="1em" width="1em"><path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"></path><path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path></svg>
            <span class="opacity-75">Highlight:</span>
        </div>
        Major developer in redesign of site
    </div>
	<div class="bg-gray-200 dark:bg-gray-800 p-2 my-4 rounded-md border-t-white shadow-inner shadow-gray-300 dark:shadow-gray-900 overflow-x-scroll overflow-y-hidden">
        <div class="flex flex-nowrap gap-4 items-center w-fit">
            <PopoverIcon image={icEs6} alt="ES6 JS" />
            <PopoverIcon image={icLess} alt="LESS CSS" />
            <PopoverIcon image={icCSharp} alt="CSharp" />
            <PopoverIcon image={icUmbraco} alt="Umbraco CMS" />
            <PopoverIcon image={icAws} alt="AWS" />
            <PopoverIcon image={icAzure} alt="Azure Cloud" />
        </div>
    </div>
    <ul class="list-disc list-inside md:list-outside flex flex-col items-start gap-1">
        <li>Asking good questions to learn fast (never forgotten)</li>
        <li>Working with a feature branch based workflow</li>
        <li>Agile development methodology for sustainable development</li>
        <li>My first exposure to 'real' JS (Vanilla ES6, React, Vue) and C# (ASP.NET)</li>
    </ul>

    <div class="my-12 border-b border-gray-400 border-solid" />

    <p>
        Thanks for reading and don't hesitate to contact me if you're interested in working together!
    </p>
    <p>
        <a href="mailto:hey@cgm.codes" class="underline">hey@cgm.codes</a>
    </p>

    <div class="my-12" />

    <Footer />
</Layout>
